os: linux
language: python
python: 3.7
install:
    - pip install -r requirements.txt
    - pip install -r ci/requirements.txt
    - pip install -r doc/requirements.txt
    - pip install -r tests/unit/requirements.txt
script:
    - pip install -e .
    - ci/static_checks.sh altimeter
    - ci/test.sh altimeter tests/unit
    - export PYTHONPATH=.
    - sphinx-apidoc -f -o doc/source altimeter
    - sphinx-build doc/source doc/html -E -W
deploy:
    provider: pypi
    user: "__token__"
    password:
        secure: "oXWWn+yLy0sZhZrE/Pv3pd4GaoufgLbKZ3HoAWMdudZwK6YI/xikw3wn1yfnuyhcUFGemoE99oE7Xz3+jUmINVElzqnlkpG6/j6FYuPZU4Ca90hyLX9E0Ojw5RYx3PqCOGAtt6qyjRrS7doVyUwAd5hcryKupQrz8fWpfECP11kVxxhk4Bxq08UfZrLGzxsMd0rGL8FiHlV7d4EDW6X8v0t+I6YulqrkW2nyeXQrRie5+01DMxBBwXAF477UvHuDwfjZ/2JH2pk7p3cF0VI0FLfdPe3+k/tuodbGYJr9t3qtl1pqzc4PzC4qfnZIOelnEcWBFIGMzVWjKNdChBu5iqgQGSiY0/R43qNQk66Ioj9++wQKWWlKS+eaqI4A1k182ioSscC17GwyY6OJ0VzU5gengfkk36oBBr0w8JjIsu8piq9/Ea+QRZJMnjYy/tExyAGheVB0QjIhIaJBCb/04igq8s9VOdgWtLBbWdhe/B6XI/3Hl0F1ztJz5078fYYVQr/RuXsQOdiYy4TpIoPSdla3BgW7kwPKetfYd1VGE1tdbLiBtCsJZVjcRLn9yOowze85OmD2eYunKQuCW6SCgSUspoSCuVWoNUrYLlJgXpjuXkPGOXK7Vd2hiw2vRKfSp8YVANpPzUpP8C1Sn29XMnOw5u6hKnOlpCgsen0bemM="
    skip_existing: true
    on:
        tags: true
        branch: master
deploy:
    provider: pages
    github_token:
        secure: "Oe+IDJIuFDlAyf+4O5LhfgIGmbdhGt18pgjhlGzrLeRq8SHJ+Ao93wZbLLMR36NuDiJp4AMI5Oto0tBwTc6dXrc1RXzl0RhC3x1H+oAtbdsRB7LAY4ARw5qrWtz87Z1zfm/RgM1DrSmKGN7UVSx2gvFnKRLryLku695VG/0VLZuDqwLGvgvRMCkyiQgluJFB7jHHyje5eN2b0TkjOVMIY7nWqbugfcyUlHJ7hzljSEd9RP+3zQRlJqn1C/uIMu1gPXohOvYWKBYGg4XDLgPzjL8JXz5BaykwtGegF656wu1ZtYqNf0pIN6t4B5665GBcZqL7ZbHEBQeqC2eCfpF8aDkuZm9kZ0RyykGxhnDdZvBZ9j/+POcw54k6Ms/SAFadH18uQpizSdsSznfe5KJ+E/i/3RokKDDrNmthfCdbdTZwdI6pmpJRoaDI74VWKitrRceJxh0gOXEXHd0Gzv3Kb5ZK3dpfORsU1DgYJ5fryZk8QMxvHCtBRdDUc6KaLWplUrCSeqOApdpkGG3/GV170tckW1aN4bi2uZsBJ6wpCGn+pDiArbV0e1ESNVM83GvQE57me2tq5NfOWEaeXkNF6cE0pOB4sEJW3wtIJcv1EXscKvO9CgCfZeM3sqdul1bwMs1PYVnqvqZ+Z/X0kC32p/28mvSFL6TQDcxZjQJoiMI="
    local_dir: doc/html
