aws-requests-auth>=0.4.3,<1
rdflib==6.0.2
structlog>=20.2.0,<21
boto3>=1.17.41,<2
jinja2>=2.11.1,<3
pydantic>=1.6.1,<2
toml>=0.10.0,<1
gremlinpython>=3.4.7,<3.5

# Pin version of MarkupSafe to avoid this error:
# https://github.com/aws/aws-sam-cli/pull/3662
MarkupSafe>=2.0
